* {
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: Roboto, sans-serif;
    overflow-x: -moz-scrollbars-none;

}


input, select, textarea{
    color: #212121;
}
input:focus{
    outline: none;
}
input:hover{
    color: white;
}

body {
    line-height: 1;
    background-color: #262626;
    color: #cdcdcd;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

.header h1 {
    font-size: 4.0rem;
    animation: slide-up2 1s ease;
}

header h5 {
    color: #535353;
    animation: slide-up2 1s ease;
}

h2 {
    margin: 20px;
    text-align: center;
    animation: slide-up2 1s ease;
}

div > img {
    width: 100%;
    height: 100%;
    animation: slide-up2 0.25s ease-out;
}

.edit-mode {
    overflow: hidden;
}

.main-menu {
    animation: main-menu-buzz 2s infinite;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    background-color: #5c5c5c;
    height: 2.5rem;
}

.canvas-container {
    margin-top:4px;
    height: 65.5vh;
}

.header {
    margin: 3rem;
}

.hidden-upload {
    opacity: 0;
    z-index: 0;
    cursor: pointer;
    margin-top: -30px;
    position: fixed;
    height: 30px;
}

.hidden-upload:hover {
    cursor: pointer;
}

.hidden-input {
    width: 34px;

}

.hidden-input:hover {
    cursor: pointer;
}

.upload-icon:hover{
    cursor: pointer;
}
.gallery-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    transition: all .2s;
}


.grid-item {
    cursor: pointer;
    transition: transform 0.15s ease;
}

.grid-item:hover {
    transform: scale(1.03);
}

.plus {
    position: absolute;
    font-size: 1.2rem;
    transition: all 0.3s ease-out;
}

.plus:hover {
    font-size: 2.2rem;
}

.space > * {
    margin: 10px;
}

.prop-item {
    transition: all 0.2s;
}

.prop-item:hover {

    color: white;
}

.prop-item > * :hover {
    color: red;
}

.btn {
    color: #3fc167;
    animation: buzz-scale 2s infinite;
}

.main-navbar {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    height: 8vh;
    background-color: #2c2c2c;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-navbar > * {
    margin-left: 10px;
    margin-right: 10px;
}


.text-button {
    transition: all 0.35s;
}

.text-button:hover {
    transform: scale(1.2);
}

.navbar-fonts {
    position: absolute;
    bottom: 8vh;
    height: 12vh;
    background-color: #262626;
    width: inherit;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    animation: slide-up2 .25s ease-out;
}

.fonts-menu > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    background-color: #2196f3e0;
    transition: all 0.33s ease-out;
}

.fonts-menu > div:hover {
    background-color: #2196f3;
    font-size: 1.35rem;
    color: white;
    cursor: pointer;
}

.main-navbar-symbols {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: slide-up2 0.25s ease-out;
}

.main-navbar-symbols > * {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: unset;
}

.emoji-container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(3, 100px);
    transition: all 0.5s ease-out;

}

.emoji-container > *:hover {
    color: white;
    cursor: pointer;
    background-color: #424242;
    transform: scale(1.2);
}

.main-navbar-symbols > div.img {
    background-color: #ceb154;
}

.move-icon:active {
    color: red;
}

.top-navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-bottom: 15px;
    height: 8vh;
    justify-content: space-between;
    color: #2c2c2c;
    align-items: center;
    font-size: 1.8rem;
    background-color: #2196F3;
}

.top-navbar > * {
    margin: 20px;
    color: #eeeeee;
}

.top-navbar > * :hover {
    color: white;
    cursor: pointer;
}

.back {
    flex: 1;
}


.fa-anim:active {
    animation: jump-animation 1s ease-out infinite;
}

.keyword:hover {
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    font-size: 1.05rem;
}

.move-icon {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-navbar > *:hover {
    cursor: pointer;
    color: white;
    background-color: #424242;
}

.tool-text-color {
    width: 85px;
    height: 100%;
    background-color: #2c2c2c;
    color: white;
}

.tool-text-color:hover {
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.warp {
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.container {
    width: 100vw;
    margin-top: 21px;
}

.input-box {
    font-size: 1.2rem;
    margin-left: 30px;
    cursor: auto;
    color: white;
    border: none;
    border-bottom: 1px solid darkgrey;
    height: 8vh;
    background-color: #262626;
}

.input-box:hover {
    color: white;
}

.edit-mode {
    width: 100vw;
    height: 100vh;
    background-color: #262626;
}


.edit-section {
    width: 100vw;
}

.meme-editor {
    overflow: hidden;
    animation: slide-in 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #262626;
}

.search {
    font-size: 1.5rem;
    transition: transform 0.2s ease;
}

.search:hover {
    transform: scale(1.05);
}

.keyword {
    transition: transform 0.2s ease;
}

.keyword:hover {
    transform: scale(1.05);
}

.close {
    flex: 1;
}

.close:hover {
    color: white
}

.download {
    flex: 1;
}

.download:hover {
    color: white
}

.hide {
    display: none;
    padding-top: 10px;
}

.results {
    color: #f5757e;
}

.wrong {
    transition: all .5s;
    opacity: 1;
}

.burger {
    cursor: pointer;
    font-size: 1.8rem;
    position: fixed;
    left: 0;
    top: 30px;
    margin: 20px;
    color: #878787;
}

.burger:hover {
    color: white
}

.hide-modal {
    display: none;
}

.broadway {
    font-family: Broadway, serif;
}

.arial {
    font-family: Arial, serif;
}

.impact {
    font-family: Impact, serif;
}

.aharoni {
    font-family: Aharoni, serif;
}


#exmImg {
    display: none;
}


.text-input {
    text-align: center;
    border-bottom: 1px whitesmoke solid;
    color: #9c9c9c;
    width: 20vw;
    background-color: #262626;
}

.text-area {
    text-align: center;
    cursor: pointer;
    font-size: 1.15rem;
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    transition: all 0.35s;
}

.text-area > * {
    margin: 20px;
}

.text-area > * :hover {
    transform: scale(1.3);
}

.slide-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 25px;
    background: #363636;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-a-small {
    font-size: 1rem;
    margin-right: 5px;
}

.slider-a-big {
    font-size: 1.7rem;
    margin-left: 5px;
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2196F3;
    border-radius: 100px;
    cursor: pointer;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    position: relative;
    flex-basis: calc(33.333% - 10px);
    margin: 5px;
    border: 1px solid;
    box-sizing: border-box;
}

.square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 510px) {
    .text-area{
        margin: 0px;
    }
}

@media screen and (max-width: 745px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .text-input {
        width:90%;
    }

    .input-box {
        height: 4vh;
    }

    .icon {
        display: none;
    }

    .gallery {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 100vw;
    }
}

@media (min-width: 728px) {
    .slider {
        width: 40%;
    }
}


@keyframes buzz-scale {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.35);
    }
    75% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up2 {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slide-in {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes jump-animation {
    0% {
        padding-bottom: 0px;
    }
    25% {
        padding-bottom: 5px;
    }
    50% {
        padding-bottom: 10px;
    }
    75% {
        padding-bottom: 5px;
    }
    100% {
        padding-bottom: 0px;
    }
}

@keyframes main-menu-buzz {
    0% {
    }
    33% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    66% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
